html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* CSS reset */
/*           */
/*           */
/* CSS reset */
.sticky-header{
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 2fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #E5E7E9;
  border-bottom: 2px dashed gray;
  position: fixed;
  top: 0;
  z-index: 999;
}

.web-link{
  font-size: 16px;
  text-decoration: none;
  color: #4E6779;
}

.web-link:hover{
  color: black;
}

.download{
  justify-self: end;
  margin-right: 10px;
}

.download-link{
  text-decoration: none;
  color: #9A9A9A;
  font-size: 12px;
}

.download-link:hover{
  color: #325A76;
}

#download-icon{
  fill: #4E6779;
}

#download-icon:hover{
  fill: #4E6779;
}

.discuss{
  justify-self: start;
  margin-left: 10px;
}

.discuss-link{
  text-decoration: none;
  color: #9A9A9A;
  font-size: 12px;
}

.discuss-link:hover{
  color: #325A76;
}

#discuss-icon:hover{
  fill: #4E6779;
}

.nav-bar{
  width: 100vw;
  height:  fit-content;
}

#logo{
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  width: 340px;
  height: 93px;
}

.navigation{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold ;
}

.page-links:hover{
  color: #0BA39C;
}

#home{
  color: #0BA39C;
}

.featured{  
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: inline-block;
}

.hero-img{
  width: 100%;
  height: 100%;
  margin: 0;
}

.hero-info{
  position: absolute;
  top: 20%;
  left: 50%;
  height: 334px;
  width: fit-content;

}

#hero-title{
  height: fit-content;
  width: fit-content;
  padding: 23px 27px 20px;
  margin: 0 0 18px;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Poller One', cursive;
  display: block;
}

.hero-l{
  height: fit-content;
  width: fit-content;
  padding: 12px 27px;
  margin: 5px 0;
  background-color: black;
  color: white;
  font-size: 22px;
  display: block;
} 

#hero-rm{
  height: fit-content;
  width: fit-content;
  padding: 26px 27px 22px;
  margin-top: 15px 0 0;
  background-color: #0ba39c;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.lower-content{
  width: 100vw;
  height: auto;
  padding-top: 32px;
  margin: auto;
  vertical-align: top;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
}

.pic-img{
  width: 100%;
  height: 100%;
  position: relative;
}

.pic-1{
  width: fit-content;
  height: fit-content;
  position: relative;
}

.pic-2{
  width: fit-content;
  height: fit-content;
  position: relative;
}

.pic-3{
  width: fit-content;
  height: fit-content;
  position: relative;
}

.img-container::after{
  content: "";
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: all 1s;
}

.img-container:hover:after{
  opacity: .5;
}

.pic-title{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 1000;
  display: block;
}

.footer{
  background-color: black;
  color: white;
  width: 100%;
  height: 122px;
  margin-top: 35px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "copy-rights soc-icons";
  justify-items: center;
  align-items: center;
}

.social-icons{
  grid-area: soc-icons;
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-gap: 20px;
  width: 50%; 
  height: 44px;
}

.soc-img{
  fill: white;
}

.soc-img:hover{
  fill: blue;
  height: 44px;
  width: 44px;
}

#gplus:hover{
  fill: #D84738;
  height: 44px;
  width: 44px;
}

#pinterest:hover{
  fill: #D84738;
  height: 44px;
  width: 44px;
}

@media only screen and (max-width: 1080px) {
  .hero-info{
    top: 10%;
  }
}



@media only screen and (max-width: 930px) {
  .hero-info{
    top: 5%;
    left: 47%;
  }
  #hero-title{
    font-size: 18px;
  }
  .hero-l{
    font-size: 18px;
  }
  #hero-rm{
    padding: 22px 23px 18px;
  }

}



@media only screen and (max-width: 800px) {
  .hero-info{
    top: 2.5%;
    height: fit-content;
    left: 45%;
  }
  #hero-title{
    margin: 0;
  }
}



@media only screen and (max-width: 748px) {
  .hero-info{
    top: 1%;
    left: 45%;
  }
  #hero-title{
    font-size: 18px;
    margin: 0;
    padding: 20px 22px 16px ;
  }
  .hero-l{
    font-size: 18px;
  }
  #hero-rm{
    padding: 22px 23px 18px;
  }
}



@media only screen and (max-width: 720px) {
  .hero-info{
    top: 1%;
    left: 40%;
  }
  #hero-title{
    font-size: 18px;
    margin: 0;
    padding: 16px 18px 12px ;
  }
  .hero-l{
    font-size: 14px;
  }
  #hero-rm{
    padding: 18px 19px 14px;
  }
}



@media only screen and (max-width: 635px) {
  .hero-info{
    top: .5%;
    left: 40%;
  }
  #hero-title{
    font-size: 16px;
    margin: 0;
    padding: 12px 14px 8px ;
  }
  .hero-l{
    font-size: 12px;
  }
  #hero-rm{
    padding: 14px 15px 10px;
  }
}



@media only screen and (max-width: 581px){
  .web-link{
    font-size: 10px;
  }
}



@media only screen and (max-width: 569px) {
  .hero-info{
    top: .5%;
    left: 40%;
  }
  #hero-title{
    font-size: 16px;
    margin: 0;
    padding: 12px 14px 8px ;
  }
  .hero-l{
    font-size: 12px;
  }
  #hero-rm{
    padding: 14px 15px 10px;
  }
}



@media only screen and (max-width: 568px){
  .download{
    display: none;
  }
  
  .discuss{
    display: none;
  }

  /* need to add the hamburger menu */

  .hero-img{
    height: 270px;
    width: auto;
  }
  
  .hero-info{
    display: grid;
    width: 100%;
    height: 90%;
    grid-template-rows: repeat(5,1fr);
    justify-items: stretch;
    left: 0%;
  }
  
  #hero-title{
    place-self: center;
    width: 75%;
  }
  
  .hero-l{
    place-self: center;
    font-size: 14px;
    width: 75%;
  }
  
  #hero-rm{
    padding: 14px 15px 10px;
  }

  .lower-content{
    flex-direction: column;
    align-items: center;
  }
}



@media only screen and (max-width: 498px){
  .web-link{
    font-size: 10px;
  }
}



@media only screen and (max-width: 450px){
  .navigation{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .hero-l{
    font-size: 16px;
  }

}

@media only screen and (max-width: 416px) {
  .sticky-header{
    display: grid;
    grid-template-columns: 1fr;
  }
}
